@font-face {
    font-family: Mc;
    src: url(/fonts/McLaren-Regular.ttf);
}

.mainbg {
    background-image: url(/assets/Pikachusurf.png);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: Mc;
}

@media (max-width: 800px) {
    .mainbg {
        background-image: url(/assets/MobPika.png);
        height: auto;
    }
}

@media (max-width: 325px) {
    .mainbg {
        background-image: url(/assets/MobPika.png);
    }
}

.scrolltxt {
    overflow-y: auto;
    height: 130px;
}

.btnchange {
    width: 450px;
    height: 50px;
}

@media (max-width: 800px) {
    .btnchange {
        width:  240px;
    }
}
